<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Vocabulary</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <!-- insert nav panel -->
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <div class="content">
    <div class="vocab-header">
      <h1>Vocabulary</h1>
      <button class="btn-add-word" onclick="openModal()">+ Add New Word</button>
    </div>
    <div id="vocabList" class="vocab-list">

    </div>

    <!-- Modal Popup -->
    <div id="addWordModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Add New Word</h2>
        <form id="addWordForm" method="post">
          <div class="form-group">
            <label for="word">Word:</label>
            <input type="text" id="word" name="word" required>
          </div>
          <div class="form-group">
            <label for="meaning">Meaning:</label>
            <input type="text" id="meaning" name="meaning" required>
          </div>
          <div class="form-group">
            <label for="context">Сontext Sentence:</label>
            <input type="text" id="context" name="context">
          </div>
          <div class="form-actions">
            <button type="submit" class="btn-submit">Add Word</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    let page = 0;
    
    async function init(){
      const data = await loadWordsPage();
      render(data); 
    }
    window.onload = init;

    function render(page) {
      alert(console.log(page));
    }

    async function loadWordsPage(page = 0, size = 30) {
      const params = new URLSearchParams({
        page: page,
        size: size,
        sort: "created_at, desc"
      });

      const res = await fetch(`api/words?${params.toString()}`);
      if (!res.ok) throw new Error(`HTTP ${res.status}`);
      return await res.json();
    }

    async function loadPage(page) {
      page += 1;
      const data = await loadWordsPage(page);
      render(data);
    }

    // Open modal to Add word 
    function openModal() {
      document.getElementById("addWordModal").style.display = "block";
    }
    function closeModal() {
      document.getElementById("addWordModal").style.display = "none";
    }
    // Close modal when clicking outside of it
    window.onclick = function (event) {
      const modal = document.getElementById("addWordModal");
      if (event.target == modal) {
        closeModal();
      }
    }

    // send form with JSON 
    document.getElementById("addWordForm").addEventListener("submit", async (e) => {
      e.preventDefault();

      const payload = {
        word: document.getElementById("word").value,
        meaning: document.getElementById("meaning").value,
        context: document.getElementById("context").value,
      }

      const response = await fetch("api/words", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(payload)
      });

      if (response.ok) {
        e.target.reset();
        showCreatedWord(await response.json());
        closeModal();
      }
      else {
        const error = await response.text();
        console.error(error);
      }
    })

    // render new added word
    function showCreatedWord(created_word) {
      const list = document.getElementById("vocabList");
      const item = document.createElement("div");
      item.className = "vocab-item";
      item.innerHTML = `
      <h3 class="word-text">${created_word.word}</h3>
      <p class="meaning-text">${created_word.meaning}</p>
      <p class="context-text">${created_word.context || ""}</p>
      <p class="progress-text">${created_word.learnProgressPercentage}</p>
  `;
      list.prepend(item);
    }
  </script>
</body>

</html>